<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<style>

</style>
<body>

    <h1>Checkout</h1>
    <p>You are about to buy:</p>

    <form action="cart" method="GET">
        <h1>Items</h1>
        {% for item in session["cart"] %}
            <li>{{ item }}</li>
        {% endfor %}
    </form>
 
</body>
</html>