<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>

</style>
<body>
    <form action="list" method="GET">
        {% for item in list %}
            <p>{{ item }} <a href= "http://127.0.0.1:5000/item={{ item }}" >Add</a> </p>
        {% endfor %}
    </form>
    <form action="cart" method="GET">
        <h1>Shopping Cart</h1>
        {% for item in session["cart"] %}
            <li>{{ item }}</li>
        {% endfor %}
    </form>
    <br>
    <a href= "http://127.0.0.1:5000/checkout" >Checkout</a>
</body>
</html>