<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
</head>
<style>
</style>
<body>
    <h1>Hello from page 1 {{user}}</h1>
    <a href="http://127.0.0.1:5000/">Home</a><br><br>
    <a href="http://127.0.0.1:5000/login">Login</a><br><br>
    <a href="http://127.0.0.1:5000/page1">Page1</a><br><br>
    <a href="http://127.0.0.1:5000/page2">Page2</a>

    <h1>Page 1</h1>
    <a href="http://127.0.0.1:5000/logout">LOGOUT</a>
</body>
</html>