<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <h1>Slot Machine</h1>
    <p>{{result}}</p>
    <button><a href="http://127.0.0.1:5000/slot-machine"> {{ button }} </a></button><br><br>
    <img style="height: 200px; width: 300px;" src= {{ pic0 }}>
    <img style="height: 200px; width: 300px;" src= {{ pic1 }}>
    <img style="height: 200px; width: 300px;" src= {{ pic2 }}>
    <br>
    <p>You have {{ money }} money</p>

</body>
</html>